@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
}

.logo > img {
  margin: 5rem auto 0 auto;
  max-width: 49rem;
  width: 90%;
  cursor: pointer;
}

form {
  max-width: 48.7rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  margin-top: 4.1rem;
  margin-bottom: 4.5rem;
}

#input {
  font-size: 1.8rem;
  text-align: center;
  background-color: #f7f7f7;
  height: 6.1rem;
  border: none;
  border-radius: 2rem;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.15) 0.2rem 0.2rem 0.3rem;
  outline: none;
}

#botao {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #fff;
  margin: auto;
  border: none;
  border-radius: 1rem;
  width: 17.4rem;
  height: 3.8rem;
  background-color: #2a74ba;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#botao:active {
  box-shadow: none;
}

#list {
  gap: 2rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 120rem;
  width: 90%;
}

.card {
  width: 23rem;
  height: 20rem;
  border: none;
  background-color: #ce789c;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 4px 10px 10px;
}

.card img {
  display: block;
  margin: 1rem auto 1rem auto;
  width: 13.5rem;
  height: 13.5rem;
}

.card > .info {
  color: #fff;
  letter-spacing: 0.12rem;
  font-weight: 300;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: auto;
  background-color: #af3e6e;
  width: 17rem;
  height: 3rem;
  margin-bottom: 6rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#div-modal {
  display: flex;
  justify-content: center;
  padding-top: 25rem;
  position: absolute;
  background-color: #918c8ca6;
  width: 100vw;
  height: 100vh;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border-radius: 1rem;
  background-color: #fff;
  height: 12rem;
  width: 40rem;
  opacity: 0;
  transform: translateY(600px);
}

#modal.animar {
  animation: slide 0.4s forwards;
}

@keyframes slide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
